#gameContainer{
	/*display: flex;*/
	height: 600px;
	width: 1000px;
	position: relative;
	padding: 100px;
	margin: auto 20% 0px;
}
#gamepad{
	/*display: flex;*/
	justify-content: center;
	height: 400px;
	width: 800px;
	background-color: #000000;
	border: 4px solid #FF4900;
	margin: 50px;
}
#score{
	position: absolute;
	font-size: 40px;
	background-color: #EDE109;
	top: 12%;
	left: 13%;
}
#gameover{
	display: none;
	position: absolute;
	height: 400px;
	width: 805px;
	background-color: #28E3E8;
	top: 19%;
	left: 13%;
	z-index: 2;
}
#reset{
	position: absolute;
	font-size: 20px;
	left: 40%;
	top: 90%;
}
#starting{
	position: absolute;
	top: 12%;
	left: 40%;
}
#startgame{
	font-size: 40px;
}
#startgame:hover,#reset:hover{
	cursor: pointer;
}
#finaltext,#span{
	font-size: 100px;
	text-align: center;
	color: #F00000;
}
