#gameContainer{
	display: flex;
	height: 600px;
	width: 1000px;
	position: relative;
}
#gamepad{
	display: flex;
	justify-content: center;
	height: 400px;
	width: 800px;
	background-color: #000000;
	border: 4px solid #FF4900;
	margin: 50px;
}																																																																											 